%section{data: {bgcolor: "#d5838b"}}
  .section-content
    %nav
      %a.nav-button{href: "#"} &uarr;
  .container.about
    %article
      %h1 About this site
      .Arrange.Arrange--withGutter.Arrange--middle
        .Arrange-sizeFill
          :markdown
            I've often found myself giving the five minute "*meditation? what's that about, anyway*?" talk to friends, and this website is an attempt to answer that question. As such, it aims to be a digestible introduction rather than a complete presentation on meditation.

        .Arrange-sizeFit
          %img.about__nadav{:src => "images/nadav.png", :alt => "Nadav Spiegelman"}/ 
        
      &mdash; Nadav Spiegelman

      .contact
        %p Contact me stuff and social icons 
  %aside.turtle.container.about
    %hr/
    %img.turtle__image{:src => "images/turtle-small.jpg", :alt => "Sebastian the Turtle"}/
    :markdown 
      Sebastian, the turtle, was inspired by Kenneth Folk pointing out that, in the contemplative path, *the tortoise always wins this race*, and calling for "constancy, not heroics."







