%section{data: {bgcolor: "#268bd2"}}
  .section-content
    = partial "nav"
    %article.container
      :markdown
        The first category is **body sensations**. Focus just on physical sensations, and note whatever is dominant every few seconds as it's happening. 

        Body sensations include *itching, pressure, tingling, tension, coolness, heaviness, tightness, heat, aching*.

        ##### For two minutes, note body sensations. 

      = partial "timer"
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        Noticing the weight on my back, I note *pressure*. Noticing an ache in my leg, I note *aching*. Noticing the coolness of my breath, I note *coolness*.

