%section{data: {bgcolor: "#d33682"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        As meditation has made its way from the monastaries of the East to the schools, hospitals, and workplaces of the West, a secularized approach to contemplative practice has developed. 

        There is much value in the Buddhist tradition, but you needn't adopt any beliefs or religious rituals to benefit from meditation.
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        It’s possible to divorce meditation from the religious trappings of its history, and look at it as as a technology for living a better life.

