%section{data: {bgcolor: "#268bd2"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        Next, we'll work with **feeling tone**, which is a technical term for whether a sensation is *pleasant, unpleasant, or neutral*. You can note the overall feeling of your experience, or the feeling of a specific body sensation. 

        ##### For two minutes, note whether your experience in this moment is pleasant, unpleasant, or neutral. 
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        I note an itch as *unpleasant*. I note the cool breeze as *pleasant*. I note the pressure of my feet against the ground as *neutral*. 
      

