%section{data: {bgcolor: "#268bd2"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
         Now that we have a taste of noting, we’re going to explore a more robust framework for noting: the *Four Foundations of Mindfulness*, which are four categories that include everything you could possibly experience.

        We'll continue with the directive of noting every few seconds. Instead of noting the five senses, we'll first practice each of the four foundations individually. Finally, we'll bring them all together.
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        The Four Foundations of Mindfulness come from Buddhism. This interpretation is again from Kenneth Folk.

