.Site-main

  %nav 
    %a.nav--next.Button{:href => "social-noting"} Next
    %a.nav--previous.Button{:href => "thoughts"} Previous

  %article.container
    :markdown
      We can use everything we've learned to practice **freestyle noting**, the workhorse of the noting family. 

      For this technique, we include all of the categories and note whatever we're experiencing right now. This is the main noting technique for many meditators. 

      ##### For two minutes, note your experience.


%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown 
      *Seeing, amusement, itching, unpleasant, planning thought, excitement, joy, remembering thought, neutral*.

