%section{data: {bgcolor: "#d5838b"}}
  .section-content
    %article
      %header.u-textCenter
        %h1#home-title A Crash Course in Noting&nbsp;Meditation
        %h2 
          %a#home-next{:href => "#meditation"} Let's begin.
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote#home-quote
      :markdown
        Hi! I'm Sebastian, the meditating turtle. I'm gonna drop some knowledge on you.