%section#meditation{data: {bgcolor: "#cb4b16"}}
  .section-content
    = partial "nav"

    %article.container
      :markdown
        Meditation comprises a variety of techniques that target the functioning of the mind. 

        It can lead to profound perceptual, cognitive, and emotional transformations that have traditionally been called spiritual enlightenment or awakening.
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        It might be more accurate to say *enlightenments*, since the results of meditation are neither uniform nor steady state.