%section{data: {bgcolor: "#268bd2"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        Let's now explore **mind states**, or emotional states such as *boredom, excitement, joy, sadness, frustration, confusion, fear, doubt, gratitude, embarrassment.* 

        As you note mind states, you may find that they change much more rapidly than you expect. Or, if they don't, it's perfectly fine to note the same thing repeatedly.

        ##### For two minutes, note mind states.
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        I don't know what to note so I note *uncertainty*. I feel accomplished because I noted something, so I note *pride*. That's funny, so I note *amusement*.
      

