%section{data: {bgcolor: "#6c71c4"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        Earlier we said that vipassana is the process of continually noticing your experience and the sensations that it comprises. 

        One way to do this is with the *noting technique*, where one or two word labels are used to describe whatever you’re experiencing, every few seconds. 

        Labeling your experience is not an end in itself, rather it is a tool to help you remain aware of what's going on without getting stuck. 
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        Sound confusing? Don't worry, a demonstration is around the corner.

