%section{data: {bgcolor: "#cb4b16"}}
  .section-content
    = partial "nav"
    
    %article.container
      :markdown
        Meditation is not about stopping your thoughts. Rather, they are included in the practice. 

        Success is not determined by how few thoughts you have. 
        
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        You might be shocked by how many thoughts you notice as soon as you sit down to meditate. That’s okay!  

