%section{data: {bgcolor: "#cb4b16"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        Meditation is not about stopping your thoughts. Success is not determined by how few thoughts you have. Rather than push them away, thoughts are included in the practice. 
        
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        You might be shocked by how many thoughts you notice as soon as you sit down to meditate. That’s okay!  

