%section{data: {bgcolor: "#268bd2"}}
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        The last category is **thoughts**. You can start by simply noting *thinking* whenever you notice thinking, or you can get more descriptive with labels such as *planning thought, remembering thought, imaging thought, rehearsing thought.*

        ##### For two minutes, note thoughts. 
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        Replaying an argument with my wife, I note *remembering thought*. Imagining going to bed tonight, I note *planning thought*. Thinking about noting, I note *noting thought*. 

