<aside class="timer">
  <p class="timer-success">Well done!</p>
  <div class="timer-body">
    <label class="timer-minutes">00</label>:<label class="timer-seconds">00</label>
    <button class="timer-button">Start</button>
  </div>
</div>
