<aside class="timer">
  <p class="timer-success">Well done!</p>
  <div class="timer-body">
    <p class="u-marginBm">
      <span class="timer-minutes">00</span>:<span class="timer-seconds">00</span>
    </p>
    <a href="#" class="timer-button">Start</a>
  </div>
</aside>
