%section{data: {bgcolor: "#d33682"}}
  .section-content
    = partial "nav"
    
    %article.container
      :markdown
        There are many kinds of meditation techniques that produce myriad results.
        
        We’re going to focus on *vipassana* or *insight meditation*, which is the process of continually noticing your experience and the sensations that it comprises. 
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        The kind of vipassana we’re talking about has its roots in the Theravada Buddhism of Southeast Asia. 

