%section{data: {bgcolor: "#cb4b16"}}
  .section-content
    = partial "nav"

    %article.container
      :markdown
        Meditation can make you feel good, but it can also be boring, stressful, and frustrating at times. 

        The kind of meditation we're talking about here involes examining the full range of human experience, which can be challenging at times. 


  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        It’s not a linear development of feeling better and better. 