%nav 
  %a.nav--next{:href => "meditation"} Next

%article.container
  %header.align-right
    %h1.u-marginBn A Crash Course in Meditation
    %h2.u-marginTn by Nadav Spiegelman

  %aside.turtle
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        Hi, I'm Sebastian! I'm gonna drop some knowledge on you.

