.Site-main
  %article
    %header.u-textCenter
      %h1.Site-title A Crash Course in Insight Meditation
      %h2 
        %a.u-linkClean{:href => "meditation"} Let's begin.


%aside.turtle.container
  %img.turtle__image.tossing{:src => "images/turtle.jpg", :alt => ""}/ 
  / %div.quote

  /   :markdown
  /     Hi, I'm Sebastian! I'm gonna drop some knowledge on you.

  /     *If you're on a computer, you can use the arrow keys on your keyboard to navigate.*


