%section 
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      :markdown
        Earlier we said that vipassana is the process of continually noticing your experience and the sensations that it comprises. 

        One way to do this is with the *noting technique*, where you use one or two word labels to describe whatever you’re experiencing, every few seconds. 

        Whenever more than a few seconds have passed and you haven't noted, that's your sign to return to the technique.  
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        Sound confusing? Don't worry, a demonstration is around the corner.

