%nav 
  %a.nav--next.Button{:href => "thoughts"} Next
  %a.nav--previous.Button{:href => "meditation"} Previous

%article.container
  :markdown
    Meditation can make you feel good, but it can also be boring, stressful, and frustrating at times.


  %aside.turtle
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        It’s not a linear development of feeling better and better. 

