.Site-main

  %nav 
    %a.nav--next.Button{:href => "four-foundations-of-mindfulness"} Next
    %a.nav--previous.Button{:href => "noting"} Previous

  %article.container
    .video
      <iframe width="560" height="315" src="//www.youtube.com/embed/3vBmNlJ0O7I?rel=0" frameborder="0" allowfullscreen></iframe>


%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown
      Here's meditation teacher Kenneth Folk demonstrating his Five Senses noting technique.

