.Site-main

  %nav 
    %a.nav--next.Button{:href => "working-with-a-teacher"} Next
    %a.nav--previous.Button{:href => "the-meditation-habit"} Previous

  %article.container
    :markdown
      To really make progress, don't limit your noting to the meditation cushion; note as you go about your day.

      You can note any time you're not reading, talking, or undertaking an intellectualy demanding task. 

%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown 
      It's good to pick a few routine activities, like brushing your teeth or doing the dishes, to use as launch pads for practicing meditation in daily life. 




