%section 
  .section-content
    %nav
      %a.nav-next.nav-button{href: "#"} &darr;
    %article.container
      .video
        <iframe width="560" height="315" src="//www.youtube.com/embed/3vBmNlJ0O7I?rel=0" frameborder="0" allowfullscreen></iframe>
  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => "Sebastian the Turtle"}/ 
    %div.quote
      :markdown
        Here's meditation teacher Kenneth Folk demonstrating his Five Senses noting technique.

