.Site-main

  %nav 
    %a.nav--next.Button{:href => "the-meditation-habit"} Next
    %a.nav--previous.Button{:href => "freestyle-noting"} Previous

  %article.container
    :markdown
      One of the great benefits of noting is that it can be done together with other people. In **social noting** or **ping-pong noting**, the participants go around in a circle, with each person saying one note aloud per turn. 


      VIDEO


%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown 
      Social noting is great because there's virtually no way to space out. It can be done in pairs, or in larger groups.

