.Site-main

  %nav 
    %a.nav--next.Button{:href => "noting-off-the-cushion"} Next
    %a.nav--previous.Button{:href => "social-noting"} Previous

  %article.container
    :markdown
      Learning to meditate is like learning to play the guitar or speak a foreign language; the more you practice, the better you'll get! 

      Set aside time each day for meditation. Start with five or ten minute sessions, and set a timer. Sit comfortably on a chair, sofa, or cushion, and try to note every two or three seconds. 

%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown 
      When I sit to meditate, I like to note aloud; it's easier to stay on track that way compared to noting silently. 




