%nav 
  %a.nav--next.Button{:href => "vipassana"} Next
  %a.nav--previous.Button{:href => "warning"} Previous

%article.container
  :markdown
    Meditation is not about stopping your thoughts. Success is not determined by how few thoughts you have. 


  %aside.turtle
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        You might be shocked by how many thoughts you notice as soon as you sit down to meditate. That’s okay!  

