%section 
  .section-content
    %nav 
      %a.nav-next.nav-button{href: "#"} &darr;

    %article.container
      :markdown
        Meditation can make you feel good, but it can also be boring, stressful, and frustrating at times.


  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote

      :markdown
        It’s not a linear development of feeling better and better. 