.Site-main

  %nav 
    %a.nav--next.Button{:href => "resources"} Next
    %a.nav--previous.Button{:href => "noting-off-the-cushion"} Previous

  %article.container
    :markdown
      Although we've given you everything you need to start practicing meditation on your own, it's a good to work with an experienced teacher if you can.

      Much a qualified personal trainer can make it easier to get in shape, a meditation teacher can help you stay on track and navigate the challenging parts of the meditative terrain.  

%aside.turtle.container
  %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
  %div.quote

    :markdown 
      It's also great to have a community of like-minded people with an interest in meditation to talk to about this stuff.





