.timer
  color: $base0
  +transition(color 0.75s)

.timer-body
  margin: 1.2em auto 1em
  border-radius: $border-radius
.timer-body, .timer-success
  text-align: center
  font-size: 1.2em

.timer.is-running
  .timer-body, .timer-success
    color: #268bd2

.timer-success
  display: none



