.timer
  +transition(color 0.75s)

.timer-body
  background-color: $base2
  padding: 3rem 0
  box-shadow: 1px 2px 1px darken($base2,5%)
  margin: 0 auto
  border-radius: $border-radius
  +media($medium)
    max-width: 300px

.timer-body, .timer-success
  text-align: center


.timer.is-running
  .timer-body, .timer-success
    color: #268bd2

.timer-button
  font-size: 0.66em

.timer-success
  display: none



